.merlotBlueprintPopUP{
    padding: 1em;
    border: solid;
    border-color: red;
    background-color: beige;
    display: table;
}

.merlotBlueprintPopUP_ActionBar{
    display: table-row;
}

.merlotBlueprintPopUP_ActionBar button{
    padding: 1%;
}

.merlotBlueprintPopUP_ActionBar div{
    display: table-cell;
}

.algnRight{
    text-align: right;
}

.merlotIssuesMainArticle{

    height: auto;
    margin: 0;
    width: 100%;
    display: table-row;

}

.merlotActorInfo {
    background-color: orangered;
    display: table-cell;
}


.merlotIssueInfo{
    margin-left: 9em;
    padding: 1%;
    width: 90%;
    background-color: greenyellow;
    display: table-cell;
    vertical-align: top;
}


